<ion-header>
  <ion-toolbar>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- <form (ngSubmit)="logForm();"> -->
  <ion-item>
    <ion-label position="floating">News Name</ion-label>
    <ion-input type="text" [(ngModel)]="news.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Discription</ion-label>
    <ion-input type="text" [(ngModel)]="news.discription"></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="floating">Image</ion-label>
    <ion-input type="text" [(ngModel)]="news.image"></ion-input>
  </ion-item> -->

  <ion-item>
    <ion-grid  (click)="presentActionSheet();">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="images-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">          
          <ion-label>Upload Image</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Return image file URI</ion-label>
    <ion-toggle energized [(ngModel)]="useURI"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-card-content>
      <img [src]="imageData" *ngIf="imageData"/>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>
        <div *ngIf="useURI">
          Using URI
        </div>
        <div *ngIf="!useURI">
          Using Base64
        </div>
        <p *ngIf="useURI">
          Your URI is {{ imageData }}
        </p>
        <p *ngIf="!useURI">
          Your Base64 image has {{ (imageData + '').length }} bytes
        </p>
      </ion-card-title>
    </ion-card-header>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-input type="text" [(ngModel)]="news.category_id"></ion-input>
  </ion-item>

  <ion-button type="submit" expand="full" color="danger" (click)="resign();">Update</ion-button>
  <!-- </form> -->
</ion-content>
